body {
    font-family: Arial, sans-serif;
}

h1 {
    color: rgb(62, 61, 61);
    font-size: 50px;
}

h2, h3, h4, h5, h6 {
    color: rgb(45, 45, 45);
}

p {
    font-size: 18px;
}



/* Color page */

.color-img{
    width: 250px;
    height: auto;
}

.color-title{
    text-align: right;
    font-size: 32px;

}

#red {
    color: red;
}

#green{
    color:green
}

#blue {
    color:blue
}


/* meme page */

.poster{
    width: 50%;
    margin-top: 100px;
    margin-left: 25%;
    color: white;
    font-family: 'Libre Baskerville', serif ;
}

.meme-img{
    border: 5px solid white;
    width: 100%;
}

